/* ==========================================================================
   Fonts
   ========================================================================== */

   @import "../fonts/century-gothic/stylesheet.css";


/* 
 * Base 
 */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  overflow-y: auto;
  overflow-x: hidden;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
   Colors
   ========================================================================== */

   :root {
    --dark: #0F1320;
    --less-dark: #171B29;
    --white: #ffffff;
    --dimmed-white: #595976;
    --lighter-white: #425376;
    --lighter-white-2: #DDE2FF;
    --green: #22A75D;
    --green-opac-25: rgba(34, 167, 93, .25);
    --blue: #2278D4;
    --yellow: #FFD100;
    --red: #E20613;
  }
 

/* 
  New Base
*/

html, body {
  background-color: var(--dark)!important;
  color: var(--white)!important;
}

#hero {
  /* box-sizing: content-box; */
  background-color: var(--dark)!important; 
  background: bottom right / cover url("../img/geometry-bg.png") no-repeat, top right / contain url("../img/purplish-gradient.png") no-repeat;
}

/*
  Navigation
*/

nav ul li, nav button {
  font-family: "Century Gothic Bold"!important;
  font-size: 14px!important;
}

.side_menu_link {
  font-size: 32px!important;
}

#small_social_media {
  bottom: 0;
}



nav #side_menu {
  /* Center vertically */
  top: 50%; 
  transform: translateY(-50%);
}

nav #side_menu a {
  font-family: "Century Gothic Bold"!important;
  color: var(--dimmed-white);
}

nav #side_menu a:hover {
  color: var(--white);
}

nav button, nav button:active, nav button:focus {
  border: none!important;
}

.navbar_side_menu {
  background-color: var(--dark)!important; 
  background: top / contain url("../img/purplish-gradient.png") no-repeat, top right url("../img/thread.svg") no-repeat;
  z-index: -999999;
  /* display: none; */
  opacity: 0;
}

/* Buttons */

.btn_rounded_outline {
  border: solid 1px var(--green)!important;
  padding: 0.7rem 3rem!important;
}

.btn_rounded_outline:hover, .btn_rounded_outline:active, .btn_rounded_outline:focus {
  background: var(--green)!important;
  box-shadow: 0 15px 25px 0 var(--green-opac-25);
}

.btn_rounded_outline_active {
  border: solid 1px var(--green)!important;
  padding: 0.7rem 3rem!important;
  background: var(--green)!important;
  box-shadow: 0 15px 25px 0 var(--green-opac-25);
}

/* Hero */

.hero_sub {
  font-family: "Century Gothic Bold"!important;
  font-size: 14px!important;
  background: rgb(43,48,135);
  background: -moz-linear-gradient(0deg, rgba(43,48,135,1) 0%, rgba(0,180,236,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(43,48,135,1) 0%, rgba(0,180,236,1) 100%);
  background: linear-gradient(0deg, rgba(43,48,135,1) 0%, rgba(0,180,236,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b3087",endColorstr="#00b4ec",GradientType=1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 20%;
}

#hero h1 {
  font-family: "Century Gothic Bold"!important;
  font-size: 36px!important;
}

#hero p {
  font-family: "Century Gothic Regular"!important;
  font-size: 14px!important;
  color: var(--lighter-white-2)!important;
  opacity: 0.6;
}


/* For Larger Screen */
@media (min-width: 992px) {

  #hero {
    background: bottom right / 60% url("../img/geometry-bg.png") no-repeat, top right / 90% url("../img/purplish-gradient-lg.png") no-repeat;
  }

  .hero_sub {
    font-size: 16px!important;
  }

  #hero h1 {
    font-size: 48px!important;
  }

  #hero h1.fs73 {
    font-size: 73px!important;
  }

  #hero p {
    font-size: 16px!important;
  }

  #color_year_carousel h1 {
    font-family: "Century Gothic Bold"!important;
    font-size: 64px!important;
  }
  

}

/* Slick */

.slick-dots span.dot_hollow {
  font-size: 6px!important;
}
.slick-dots span.dot_filled {
  font-size: 16px!important;
}
.slick-dots span.dot_hollow, .slick-dots span.dot_filled {
  cursor: pointer;
}
.slick-dots span.dot_filled, .slick-active span.dot_hollow {
  display: none;
}
.slick-active span.dot_filled {
  display: block;
}

.hero_carousel .slick-dots:last-of-type {
  visibility: hidden;
}

.slick-list {
  overflow: visible;
}
.slick-slide {
  transform: translate3d(0,0,0);
  opacity: 0;
  transition: opacity 500ms ease-out;
}
.slick-slide.slick-current {
  opacity: 1;
}

/* .slick-list {
  overflow: visible;
}
.img_laptop, .img_phones {
  visibility: hidden;
}
.slick-active.img_laptop, .slick-active.img_laptop::before, .slick-active.img_phones, .slick-active.img_phones {
  visibility: visible;
} */


#color_year_carousel {
  background: center center / 96% url("../img/thread2.svg") no-repeat;
}

#for_creators, #for_holders {
  background: var(--less-dark); 
  border-radius: 25px;
}

#for_holders {
  transform: translateY(90px);
}

#for_creators span {
  color: var(--green);
}

#for_holders span {
  color: var(--blue);
}

#for_creators h3, #for_holders h3 {
  font-family: "Century Gothic Bold"!important;
  font-size: 36px!important;
}

#for_creators p, #for_holders p {
  font-family: "Century Gothic Regular"!important;
  font-size: 16px!important;
  color: rgba(255,255,255,.5);
}

#for_creators svg {
  filter: drop-shadow(0 15px 25px rgb(34 167 93 / .25));
}

#for_holders svg {
  filter: drop-shadow(0 15px 25px rgb(34 120 212 / .25));
}

#makes_different_decor {
  background: right / cover url("../img/colorful-shapes.jpg") no-repeat;
  border-radius: 0 400px 0 0; 
  height: 800px;
}

#makes_different_text {
  background: left / cover url("../img/weentar.svg") no-repeat, var(--white); 
  border-radius: 400px 0 0 0; 
  height: 800px;
}

#makes_different_text h1 {
  font-family: "Century Gothic Bold"!important;
  font-size: 48px;
  color: var(--dark)!important;
}

#makes_different_text p.sub_headline {
  font-family: "Century Gothic Bold"!important;
  font-size: 16px;
  color: rgba(15, 19, 32, .6)!important;
}

#makes_different_text p {
  font-family: "Century Gothic Regular"!important;
  font-size: 16px;
  color: rgba(15, 19, 32, .6)!important;
}

#quartals {
  background: var(--white);
}

#quartals #quartals_bg_layer {
  background-color: var(--dark);
  border-radius: 0 250px 0 0;
}

#quartals .quartals_wrapper {
  margin: 210px 0;
}

#quartals #q1 svg {
  filter: drop-shadow(0 15px 25px rgb(34 167 93 / .25));
}

#quartals #q2 svg {
  filter: drop-shadow(0 15px 25px rgb(34 120 212 / .25));
}

#quartals #q3 svg {
  filter: drop-shadow(0 15px 25px rgb(255 209 0 / .25));
}

#quartals #q4 svg {
  filter: drop-shadow(0 15px 25px rgb(226 6 19 / .25));
}

#quartals h4 {
  font-family: "Century Gothic Bold"!important;
  font-size: 16px;
}

#quartals ol {
  list-style: none;
  /* list-style-position: outside; */
  counter-reset: quartals_ol;
  display: table;
  padding-left: 0!important;
}

#quartals ol li {
  font-family: "Century Gothic Regular"!important;
  font-size: 18px;
  color: rgba(255, 255, 255, .7);
  counter-increment: quartals_ol;
  display: table-row;
  height: 2rem;
}

#quartals ol li::before {
  font-family: "Century Gothic Bold"!important;
  font-size: 12px;
  content: "0" counter(quartals_ol);
  padding-right: 20px;
  display: table-cell;
  text-align: right;
}

#quartals #q1 ol li::before {
  color: var(--green);
}

#quartals #q2 ol li::before {
  color: var(--blue);
}

#quartals #q3 ol li::before {
  color: var(--yellow);
}

#quartals #q4 ol li::before {
  color: var(--red);
}

#tokners_coming {
  background: var(--blue);
}

#tokners_coming #tokners_coming_bg_layer {
  background-color: var(--dark);
  border-radius: 0 0 0 250px;
}

#tokners_coming h1 {
  font-family: "Century Gothic Bold"!important;
  font-size: 48px!important;
}

#tokners_coming p {
  font-family: "Century Gothic Regular"!important;
  font-size: 16px!important;
  opacity: 0.6;
}

#tokners_coming p.sub_headline {
  font-family: "Century Gothic Bold"!important;
  opacity: 1;
}

#tokners_coming .tokners_coming_wrapper {
  margin-bottom: 210px;
}

#tokners_coming svg.tokners_logo {
  margin-right: 1.5rem;
}

#tokners_coming #tokners_coming_illust {
  background: var(--less-dark); 
  clip-path: inset(0 0 0 15% round 25px);
}